@{
    ViewBag.Title = "Home";
}

<section class="page-section clearfix">
    <div class="container">
        <div class="intro">
            <img class="intro-img img-fluid mb-3 mb-lg-0 rounded" src="~/Content/img/intro.jpg" alt="">
            <div class="intro-text left-0 text-center bg-faded p-5 rounded">
                <h2 class="section-heading mb-4">
                    <span class="section-heading-upper">Student Admin Tool</span>
                    <span class="section-heading-lower">College Courses</span>
                </h2>
                <p class="mb-3">
                    Making student enrollment and other services easy since 2009!
                </p>
                <div class="intro-button mx-auto">
                    <a class="btn btn-primary btn-xl" href="@Url.Action("Login", "Account")">Get Started!</a>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="page-section cta">
    <div class="container">
        <div class="row">
            <div class="col-xl-9 mx-auto">
                <div class="cta-inner text-center rounded">
                    <h2 class="section-heading mb-4">
                        <span class="section-heading-upper">Our Promise</span>
                        <span class="section-heading-lower">To You</span>
                    </h2>
                    <p class="mb-0">We aim to make the process of student administration a pleasant experience for everyone involved.  Tracking students, courses, scheduled classes, and enrollments has never been easier.  Thank you for choosing the <em>Dynamic Duo</em>, Arianna Harrison and Luke Beauchamp for your student administrative needs!</p>
                </div>
            </div>
        </div>
    </div>
</section>